body {
    background-color: rgb(248, 232, 230)
}

div {
  margin: 50px;
  border: 1px solid rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(246, 183, 173)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: rgb(247, 192, 183);
  }

 h2{
  border-style: double;/*rand om h2 heen*/
  color:rgb(0, 0, 0); /*tekst kleur van h2*/
  text-align: center;/*h2 is boven in het midden van pagina*/
 }

 h3{
  width: 20%;
  background-color:  rgb(246, 183, 173);
  border-radius: 15px;
 }

 h4{
  width: 60%;
 }

.footer { 
  background-color:rgb(246, 183, 173);
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  margin-top: 250px;
  margin-right: 3px;
  display: block
} 

 #rcorners2 {
  border-radius: 25px;
  border: 2px solid  rgb(220, 255, 225);
  padding: 20px; 
  width: 200px;
  height: 150px;
 }

 h3.Welkom{
  border-style: dotted;
  width: 20%;
  background-color: rgb(247, 214, 209);
 }
 
 .Dokter{
  height: 350px;
  width: 300px;
  top: -600px;     
  margin-right: 100px;
  float: right;  
 }

 .Lezen{
  height: 400px;
  width: 300px;
  float: right;
  margin-bottom: 200px;
  margin-right: 100px;
 }

 .informatica{
height: 600px;
float: right;
margin-right: 75px;
margin-top: 5px;

 }
 .invoer en uitvoer{
  margin: top 1500px ;
  height:1000 px;
  width: 1000 px;
  
 }
 
 .Verschil{
  float: right;

 }
 .Binair-stelsel{
  height: 300px;
 }

 .Binair-stelsel2{
height: 350px;
float: right;
 }

.Geluid{
  margin-top: 600px;
}

.Lossless-compressie{
  height: 300px;
  margin-bottom: 300px;
  margin-left: 200px;
  margin-right: 400px;
}

 .Verschil{
  float: right;
  margin-bottom: 100px;
  width:500px;
 }
