body {
    background-color: rgb(253, 218, 213)
}
div {
  margin: 50px;
  border: 1px solid rgb(244, 41, 41);
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(80, 255, 5)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(255, 208, 203);
  }
 h2{
  border-style: double;/*rand om h2 heen*/
  color:rgb(0, 0, 0); /*tekst kleur van h2*/
  text-align: center;/*h2 is boven in het midden van pagina*/
 }

 img {
  float: right;
  margin-right: 30px;
  width: 200px; /* Pas de breedte aan naar wens */
  height: auto;
  
}
 h3{
  width: 20%;
  background-color:  rgb(0, 0, 0);
  border-radius: 15px;
 }
 h4{
  width: 60%;
 }
.footer { 
  background-color:rgb(87, 93, 84);
  color: rgb(62, 58, 106);
  padding: 20px;
  text-align: center;
  margin-right: 3;
  display: block
} 
 #rcorners2 {
  border-radius: 25px;
  border: 2px solid  rgb(220, 255, 225);
  padding: 20px; 
  width: 200px;
  height: 150px;
 }
 h3.Welkom{
  border-style: dotted;
  width: 20%;
  background-color: rgb(253, 218, 213);
 }
 
 .Dokter{
  padding-top: 0px; /* Verminder de padding om het element omhoog te krijgen */
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 60px;
  border: 1px solid white;

 
 }
 .Lezen{
  margin-left: 30px;
  margin-bottom: 60px;
  border: 1px white;
 }