body {
    background-color: rgb(244, 209, 221);
}
div {
  margin: 50px;
  border: 1px solid rgb(213, 129, 160)
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(213, 129, 160)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(0, 0, 0, 0.98);
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(223, 170, 187)
  }
 h2{
  border-style: double;/*rand om h2 heen*/
  color:rgb(0, 0, 0); /*tekst kleur van h2*/
  text-align: center;/*h2 is boven in het midden van pagina*/
 }

 img {
  float: right;
  margin-right: 30px;
  width: 200px; /* Pas de breedte aan naar wens */
  height: auto;
  
}
 h3{
  width: 20%;
  background-color:  rgb(223, 170, 187);
  border-radius: 15px;
 }
 h4{
  width: 75%
 }
#footer { 
  background-color:rgb(249, 209, 235);
} 
#footer {
text-align: center;
margin: right 3%;;  
}
 #rcorners2 {
  border-radius: 25px;
  border: 2px solid  rgb(223, 170, 187);
  padding: 20px; 
  width: 200px;
  height: 150px;
 }
 h3.Welkom{
  border-style: dotted;
  width: 20%;
 }