body {
    background-color: rgb(186, 202, 255);
}
div {
  margin: 70px;
  border: 1px solid #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(19, 52, 143, 0.98);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(0, 0, 0, 0.98);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(186, 202, 255)
  }
 h2{
  border-style: double;/*rand om h1 heen*/
  color:rgb(0, 0, 0) /*tekst kleur van h1*/
  text-align: center/*h1 is boven in het midden van pagina*/
 }