body {
    background-color: rgb(244, 209, 221);
}
div {
  margin: 70px;
  border: 1px solid #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(223, 95, 142)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(0, 0, 0, 0.98);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(216, 109, 103)
  }
 h2{
  border-style: double;/*rand om h2 heen*/
  color:rgb(0, 0, 0); /*tekst kleur van h2*/
  text-align: center;/*h2 is boven in het midden van pagina*/
 }

 img{
  float: right;
 }