body {
    background-color: rgb(150, 43, 43);
}
div {
  margin: 70px;
  border: 1px solid #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(32, 70, 177, 0.98);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(121, 37, 37, 0.98);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(107, 167, 207);
  }
  p {
    border: solid;
  }